.footer {
    background-color: red;
    color: #fff;
    width: 100%;
    padding-block: 3em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 1em;
    z-index: 999;
}

.footer.fixed {
    position: fixed;
    bottom: 0;
}

.footer.static {
    position: static;
}

.footer-section {
    p {
        opacity: .9;
        margin-bottom: .5em;
    }

    p.title {
        opacity: 1;
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 1em;
    }
}

.section.quote{
    display: block;
    .quote-text{
        font-size: 1.2em;
        line-height: 1.3;
        color: var(--text-color);
        svg{
            color: var(--primary-color);
            font-size: 1.5em;
            margin-right: .5em;
        }
    }
    .quote-author{
        color: var(--text-light);
        text-align: right;
        margin-top: 1em;

    }
}