// Targets.scss

$primary-color: #4e79a7;
$background-color: #f4f7fa;
$text-color: #333;
$spacing-unit: 10px;

.targets-container {
  padding: 2 * $spacing-unit;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: $spacing-unit;
  max-width: 600px;
  margin: $spacing-unit auto;
  margin-top: 70px;
}

.targets-title {
  font-size: 24px;
  color: $text-color;
  text-align: center;
  margin-bottom: 2 * $spacing-unit;
}

.targets-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .target-item {
    margin-bottom: 3 * $spacing-unit;
    padding-bottom: 2 * $spacing-unit;
    border-bottom: 1px solid #eaeaea;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      cursor: pointer;
      background-color: #f0f0f0;
      transition: background-color 0.3s ease;
    }

    .target-label {
      font-size: 18px;
      color: $text-color;
      margin-bottom: 1 * $spacing-unit;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .fa-icon {
        margin-right: $spacing-unit;
      }

      &:before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        color: transparent;
        padding: 3px;
        border: 1px solid $text-color;
        border-radius: 4px;
      }
    }

    .progress-container {
      background-color: $background-color;
      border-radius: $spacing-unit;
      overflow: hidden;

      .progress-bar {
        height: 20px;
        border-radius: $spacing-unit;
        background-color: var(--primary-color);
        transition: width 0.5s ease-in-out;
      }
    }
  }
}